:root {
    --main-bg-color: #eff5fe;
    --border-color: #81a3d6;
}

body,
html {
    font-family: system-ui;
    background-color: var(--main-bg-color);
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

}

.upload-container {
    background: #ffff;
    border-radius: 25px;
    box-shadow: 0px 20px 20px #0000002e;
}

.drop-zone {
    width: 500px;
    min-height: 200px;
    border: 2px dashed var(--border-color);
    margin: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-container {
    width: 75px;
    height: 100px;
    position: relative;
}

.title {
    font-weight: 600;
}

.icon-container i {
    font-size: 60px;
    position: absolute;
    color: rgb(231, 39, 65);
    transition: transform 250ms ease-in-out;

}

.icon-container .left {
    filter: grayscale(.5);
}

.icon-container .center {
    z-index: 20;
}

.icon-container .right {
    filter: grayscale(.5);
}

.dragged.drop-zone {
    background-color: rgb(231, 236, 240);
    border-color: rgb(98, 119, 163);
    transition: all .2s ease;
}

.dragged .icon-container .left {
    transform: rotate(10deg) translateX(20px) scale(.9);
    transform-origin: bottom;
}

.dragged .icon-container .right {
    transform: rotate(-10deg) translateX(-20px) scale(.9);
    transform-origin: bottom;

}

.dragged .icon-container .center {
    transform: translateY(-5px);
    z-index: 2;
}

#fileInput {
    display: none;
}

.browse {
    color: rgb(84, 127, 219);
    cursor: pointer;
}